<configuration>

	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread]  %-5level %logger{36} - %msg%n" />
	<property name="APP_LOG_ROOT" value="D:/ApplicationLogs" />

	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="applicationLogs"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_ROOT}/ApplicationLogs.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${APP_LOG_ROOT}/ApplicationLogs-%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>100</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="fetosenseLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_ROOT}/FetosenseLogs.log</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${APP_LOG_ROOT}/FetosenseLogs-%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>100</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

<!-- 	<appender name="applicationLogInfo" -->
<!-- 		class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<file>${APP_LOG_ROOT}/serveInfoLogs.log</file> -->
<!-- 		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
<!-- 			<level>INFO</level> -->
<!-- 		</filter> -->
<!-- 		<encoder> -->
<!-- 			<pattern>${LOG_PATTERN}</pattern> -->
<!-- 		</encoder> -->
<!-- 		<rollingPolicy -->
<!-- 			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!-- 			<fileNamePattern>${APP_LOG_ROOT}/serveInfoLogs-%i.log -->
<!-- 			</fileNamePattern> -->
<!-- 			<minIndex>1</minIndex> -->
<!-- 			<maxIndex>100</maxIndex> -->
<!-- 		</rollingPolicy> -->
<!-- 		<triggeringPolicy -->
<!-- 			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!-- 			<maxFileSize>10MB</maxFileSize> -->
<!-- 		</triggeringPolicy> -->
<!-- 	</appender> -->

	<appender name="applicationLogError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_ROOT}/serveErrorLogs.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${APP_LOG_ROOT}/serveErrorLogs-%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>100</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="com.iemr.mmu.controller.fetosense" level="TRACE">
		<appender-ref ref="fetosenseLog" />
	</logger>

	<logger name="com.iemr.mmu" level="TRACE">
<!-- 		<appender-ref ref="applicationLogInfo" /> -->
		<appender-ref ref="applicationLogError" />
	</logger>


	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="applicationLogs" />
	</root>

</configuration>